@import '@src/styles/vars.scss';

.education {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-bottom: 32px;

  img {
    position: absolute;
  }
  .last {
    width: 100%;
    display: none;
    a {
      width: 100%;
    }
  }

  @media screen and (max-width: $display-tablet) {
    grid-template-columns: repeat(2, 1fr);
    .last {
      display: flex;
    }
  }

  @media screen and (max-width: $display-mobile) {
    grid-template-columns: 1fr;
  }
}
