@import '@src/styles/vars.scss';

.service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    @media screen and (max-width: $display-tablet) {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}