@import '@src/styles/vars.scss';

.consultation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    .left {
        display: flex;
        flex-direction: column;
        gap: 29px;
    }

    .right {
        padding: 32px;
        border-radius: 20px;
        background: #fff;
    }

    &_image {
        overflow: hidden;
        border-radius: 20px;

        img {
            border-radius: 20px;
        }
    }

    &_subtitle {
        font-weight: bold;
        margin: 32px 0 20px 0;
    }

    @media screen and (max-width: $display-tablet) {
       grid-template-columns: 1fr;
       gap: 20px;
    }
}